#app {
    height: 100%;
    

  }
  html,
  body {
    position: relative;
    height: 100%;
    
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /*Responsividade*/
  @media screen and (min-width: 320px) {
    .swiper-slide img{
        height: 280px;
        margin-top: 55px;
        object-fit:cover;
    }
    
  }
  @media screen and (min-width: 550px) {
    .swiper-slide img{
        height: 380px;
        margin-top: 55px;
        object-fit:cover;
    }
    
  }
  @media screen and (min-width: 768px) {
    .swiper-slide img{
        height: 320px;
    }
    
  }
  @media screen and (min-width: 820px) {
    .swiper-slide img{
        height: 240px;
    }
    
  }
  @media screen and (min-width:1024px) {
    .swiper-slide img{
        height: 400px;
    }
  }
 
  @media screen and (min-width:1300px) {
    .swiper-slide img{
        height: 470px;
    }
    
  }
  @media screen and (min-width:1500px) {
    .swiper {
      width: 100%;
    }
    .swiper-slide img{
      height: 290px;
    }
  }
  @media screen and (min-width:1920px) {
    
    .swiper-slide img{
        height: 500px;
    }
    
  } @media screen and (min-width:2560px) {
    .swiper-slide img{
        height: 700px;
    }
    
  }
  
  